@{
    ViewBag.Title = "About";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->


<div class="principal">
    <h2 class="titulo-centralizado">Sobre o PETSHOP CÃOPRICHOSO</h2>
    <p>
        Localizado no coração da cidade o <strong>PetShop Cãoprichoso</strong> traz para o mercado o que há de melhor para o seu Pet.<br>
        Fundado em 2021, o PETSHOP CÃOPRICHOSO já é destaque na cidade e conquista novos clientes a cada dia.
    </p>

    <p><em>Nossa missão é: <strong>"Proporcionar qualidade e praticidade para os  clientes"</strong>.</em></p>

    <p>
        Oferecemos profissionais experientes.
        O atendimento possui padrão de excelência e agilidade, garantindo qualidade e satisfação dos nossos clientes.
    </p>
</div>
<link rel="stylesheet" href="~/CSS/Pagina.css" />