@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1 class="titulo"> PETSHOP CÃOPRICHOSO </h1>
    <p class="subtitulo">
        Localizado no coração da cidade o <strong>PETSHOP CÃOPRICHOSO</strong> traz para o mercado o que há de melhor para o seu Pet.<br>
        Fundada em 2021, o PETSHOP CÃOPRICHOSO já é destaque na cidade e conquista novos clientes a cada dia.
    </p>    
</div>

<div>
    <div class="col-md-4">
        <h2>Bath</h2>
        <img src="https://lh3.googleusercontent.com/proxy/KT_US6EVOeQ2ir2TbtSqd0poVRZh1V2KsUOOt8JdNI7u_HbUsbEEiiiTLO1xNNdU3kbixdat2MraRJ9CQbBl9snNOiWcCSd4F1Q9ryWNV9Dxm7Lkj4DO1WcQe6ptSfDfwyMapVTeFA5rAN08" class="imagembanho">
    </div>
    <div>
        <h2>Shear</h2>
        <img src="http://vetville.com.br/wp-content/uploads/wsi-imageoptim-tosar-cachorro-seu-peludo-pelado-720x445.png" class="imagemtosa" />
    </div>
    <div>
        <h2>Products</h2>
        <img src="https://onjornal.com/wp-content/uploads/2020/06/2e82r5f4bf9izoxpl9a9d0znj.jpg" class="imagembrinquedo" />
    </div>
    <link rel="stylesheet" href="~/Views/Shared/CSS/Pagina.css" />
</div>