body {
    background-color: #CDEAEC;
}
.principal {
    background: #CDEAEC;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
    background: blueviolet 150px;
    
}
em strong {
    color: blue;
}

.subtitulo {
    text-align: center;
    font-size: 120%;
    font-family: Trebuchet MS;
    padding: 30px, 100px;
    background-color: #CDEAEC;
}

h2 {
    text-align: left;
    margin-left: 20px;
    color: rgb(92, 116, 116);
}
.imagem {
    float: left;
    width: 380px;
}

img {
    width: 80%;
}
