.titulo {
    text-align: center;
    font-size: 300%;
    padding: 30px;
    background-color: #B0E7EA;
}
.subtitulo {
    text-align: center;
    font-size: 120% ;
    font-family: Trebuchet MS;

    padding: 30px, 100px;
    background-color: #CDEAEC;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
    color: rgb(92, 116, 116);
    text-shadow: 5px 5px 5px rgb(213, 238, 225 );
}