@{
    ViewBag.Title = "Home";
}
<body>
    <header>
        <br /><br /><br /><br /><h1 class="titulo-principal">PETSHOP CÃOPRICHOSO</h1><br /><br /><br /><br />

    </header>
    <div>
        <div class="imagem">

            <h2>Bath</h2><br /><br /><br />
            <img src="https://www.vetquality.com.br/wp-content/uploads/2020/06/como-dar-banho-em-cachorro-em-casa.jpg" />

        </div>
        <div class="imagem">

            <h2>Shear</h2><br /><br /><br />
            <img src="http://vetville.com.br/wp-content/uploads/wsi-imageoptim-tosar-cachorro-seu-peludo-pelado-720x445.png" />

        </div>
        <div class="imagem">

            <h2>Products</h2><br /><br /><br />

            <img src="https://onjornal.com/wp-content/uploads/2020/06/2e82r5f4bf9izoxpl9a9d0znj.jpg" />

        </div>
        <link rel="stylesheet" href="~/CSS/Pagina.css" />
    </div>
 </body>
